<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windthunder.machineroom.monitoring.mapper.ChartMapper">
  <resultMap id="BaseResultMap" type="com.windthunder.machineroom.monitoring.domain.Chart">
    <!--@mbg.generated generated on Wed May 20 17:32:13 CST 2020.-->
    <!--@Table chart-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="pid" jdbcType="CHAR" property="pid" />
    <result column="charttitle" jdbcType="CHAR" property="charttitle" />
    <result column="chartstyle" jdbcType="SMALLINT" property="chartstyle" />
    <result column="rtype" jdbcType="SMALLINT" property="rtype" />
    <result column="statisticaltype" jdbcType="SMALLINT" property="statisticaltype" />
    <result column="isautoreport" jdbcType="BOOLEAN" property="isautoreport" />
    <result column="customdtime" jdbcType="CHAR" property="customdtime" />
    <result column="charttaguuid" jdbcType="CHAR" property="charttaguuid" />
    <result column="reportResuuid" jdbcType="CHAR" property="reportresuuid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed May 20 17:32:13 CST 2020.-->
    id, pid, charttitle, chartstyle, rtype, statisticaltype, isautoreport, customdtime, 
    charttaguuid, reportResuuid
  </sql>
</mapper>