<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windthunder.machineroom.monitoring.mapper.ElementMapper">
  <resultMap id="BaseResultMap" type="com.windthunder.machineroom.monitoring.domain.Element">
    <!--@mbg.generated generated on Wed May 20 17:32:13 CST 2020.-->
    <!--@Table `element`-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="pid" jdbcType="CHAR" property="pid" />
    <result column="elementtype" jdbcType="INTEGER" property="elementtype" />
    <result column="bkpictured" jdbcType="CHAR" property="bkpictured" />
    <result column="ele_id" jdbcType="CHAR" property="eleId" />
    <result column="jsonvalue" jdbcType="VARCHAR" property="jsonvalue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed May 20 17:32:13 CST 2020.-->
    id, `name`, pid, elementtype, bkpictured, ele_id, jsonvalue
  </sql>
</mapper>